@mixin clearfix { //appends a pseudo element after the element which will then clear the floats
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// make a checkbox or radiobox input "invisible"
@mixin invisibleElement {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

@mixin buttonIconWhiteToBlack {
    background: $color-dark;
    box-shadow: 0 1rem .7rem rgba($color-dark, .4);
    transform: translateY(-1rem);
    border: solid .5rem $color-white;

    i {
        color: $color-white;
    }
}