// FONT-Families
$title: 'Pacifico', cursive;
$text: 'Source Sans Pro', sans-serif;

// COLORS
$color-white: #fff;

$color-dark: #000;

$color-gray: #6e6e6e;
$color-gray-light: #f6f6f6;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem; // gutter => vertical margin between cells;
$gutter-vertical-small: 6rem; 
$gutter-horizontal: 6rem;