.section-about {
    background: $color-gray-light;
    height: 100%;
    width: 100%;
}

.section-work {
    padding: 0;
    margin-top: -20vh;
}

.section-contact {
    padding: 12rem 0;
    margin-top: -5vh;
    background: $color-gray-light;
}