.section-about {
    margin-top: -20vh;
    padding: 27.5rem 11rem;
    background: $color-gray-light;

    @media only screen and(max-width: $custom-media-query-2) {
        padding: 27.5rem 8rem;
     }

    @media only screen and(max-width: $custom-media-query-4) {
        padding: 27.5rem 4rem;
     }

    @media only screen and(max-width: $custom-media-query-5) {
        padding: 30.5rem 4rem;
     }
}

.section-work {
    padding: 0;
    margin-top: -20vh;
}

.section-contact {
    padding: 12rem 0;
    margin-top: -5vh;
    background: $color-gray-light;
}