.about {
    position: relative;
    height: 70rem;
    width: 80%;
    color: $color-gray;
    margin: 0 auto;

    &__picture {
        position: relative;
        float: left;
        width: 28rem;
        height: 35rem;
        margin: 0 5rem 0 15rem;
        text-align: center;

        &-photo {
            width: 100%;
            border-radius: 3rem;
            border: 1rem ridge;
            margin-bottom: 2rem;
            box-shadow: 0 .3rem .3rem rgba($color-dark, .3);
        }
    }

    &__description {
        width: 80%;
        margin: 0 auto;
    }
}