.about {
    position: relative;
    height: 70rem;
    width: 80%;
    color: $color-gray;
    padding: 2.5rem 5rem;
    margin: 0 auto;

    &__picture {
        float: left;
        width: 24%;
        margin-right: 3%;
        shape-outside: square;

        &-photo {
            border-radius: 3rem;
            border: 1rem ridge;
            margin-bottom: 1rem;
        }

        &-name{
            text-align: center;
            font-size: 1.8rem;
            border-bottom: solid;
            width: 60%;
            margin: 0 auto;
        }
    }

    &__description {
        float: left;
        width: 65%;
        column-count: 2;
        column-gap: 5rem;
        column-rule: .2rem solid $color-gray;
    }
}