.button {
    cursor: pointer;
    padding: 1rem 4rem;
    display: inline-block;
    transition: all .2s;
    backface-visibility: hidden;

    &,
    &:link,
    &:visited {
        font-size: 2rem;
    }

    &__section {
        position: absolute;
        background: $color-white;
        transform: translateX(-50%);
        left: 50%;
        border-radius: 1.5rem;
        outline: none;
        font-weight: 600;
        text-decoration: none;
        color: $color-gray;
        
        &:hover,
        &:focus {
            box-shadow: 0 1rem .7rem rgba($color-dark, .4);
            transform: translate(-50%, -1rem);
            left: 50%;
    
            &::after {
                background: $color-white;
                transform: scaleX(1.7) scaleY(1.9);
                opacity: 0;
            }
        }

        &:active {
            left: 50%;
            transform: translate(-50%, .05rem);
            box-shadow: 0 .5rem .2rem rgba($color-dark, .8); /* nice shadow is lowered to cause the impression of pressing */
        }

        &::after  {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 1.5rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all 0.4s;
        }
    }

    &-animated {
        animation: fadeInBottom 4s ease-out;
    }

    &-label {
        margin-top: 3.5rem;
        width: 100%;
        background: $color-white;
        border-radius: 1.5rem;
        text-align: center;
        transition: all .5s;

        &-logo {
            width: 100%;
        }

        i,
        &-logo {
            color: $color-gray;
            font-size: 15rem;
            margin: 0 auto;
            padding: 3rem 4rem;
        }

        &:focus {
            @include buttonIconWhiteToBlack;
        }
    }
}