.contact {
    color: $color-gray;
    height: 50vh;
    margin-top: 4rem;

    @media only screen and(max-width: $custom-media-query-5) {
        height: 30vh;
     }

    &__box {
        display: flex;
        justify-content: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__list-item {
        display: inherit;
        align-items: center;
        text-align: center;
        
        i {
            font-size: 4.5rem;
            transition: all .4s;
        }

        a {
            font-size: 2.2rem;
            margin-left: 4rem;
            flex: 1;
        }

        &:last-child a {
            margin-left: 4.7rem;
        }

        &:not(:last-child) {
            margin-bottom: 4rem;
        }

        &:hover i {
            transform: scale(1.4);
        }

        &:hover .fa-envelope {
            color: #9498c8;
        }

        &:hover .fa-twitter {
            color: #55acee;
        }

        &:hover .fa-facebook-square {
            color: #3b5999;
        }

        &:hover a {
            @include buttonNameWhiteToBlack;
        }
    }
}