.work {
    background-image: linear-gradient(to bottom, rgba($color-dark, .2), rgba($color-dark, .95)), url(../../assets/images/OpenBook-small.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    padding: 11rem;
    position: relative;
    background-attachment: fixed;
    -webkit-clip-path: polygon(0px 0px, 50% 5vh, 100% 0px, 100% 95vh, 50% 100%, 0px 95vh);
    clip-path: polygon(0 0, 50% 5vh, 100% 0, 100% 95vh, 50% 100%, 0 95vh);

    // dpi = dots per inch, if resolutions is higher than 192dpi AND width higher than 600px OR 2000px, use this background-image instead.
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), // for safari
    only screen and (min-width: 125em) {
    background-image: linear-gradient(to bottom, rgba($color-dark, .2),
                rgba($color-dark, .95)), 
                url(../../assets/images/OpenBook.jpg);
    }
    
    @media only screen and(max-width: $custom-media-query-1) {
        height: 105rem;
        -webkit-clip-path: polygon(0px 0px, 50% 5rem, 100% 0px, 100% 100rem, 50% 100%, 0px 100rem);
        clip-path: polygon(0px 0px, 50% 5rem, 100% 0px, 100% 100rem, 50% 100%, 0px 100rem);
    }

    &__box-list {
        display: flex;
        justify-content: space-around;

        @media only screen and(max-width: $custom-media-query-1) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-1 {
            top: -3rem;
        }

        &-2 {
            top: 3rem;
        }

        &-3 {
            top: -3rem;
        }

        &-title {
            margin: 0 auto;

            .title-secondary {
                border-bottom: solid .2rem transparent;
            }
        }
    }

    &__box-list &__box:hover .title-secondary {
        border-bottom: solid .2rem $color-white;
    }

    &__box-list &__box:hover .button-label {
        @include buttonIconWhiteToBlack;
    }
    /*
    .input__invisible:focus + .button-label {
        @include buttonIconWhiteToBlack;
    } */
}
