.button {
    cursor: pointer;
    text-transform: uppercase;
    padding: 1rem 4rem;
    display: inline-block;
    transition: all .2s;
    backface-visibility: hidden;

    &,
    &:link,
    &:visited {
        font-size: 2rem;
        text-decoration: none;
    }

    

    &:hover {
        box-shadow: 0 1rem .7rem rgba($color-dark, .4);
        transform: translate(-50%, -1rem);
        left: 50%;

        &::after {
            transform: scaleX(1.7) scaleY(1.9);
            opacity: 0;
        }
    }

    &__section {
        position: absolute;
        background: $color-white;
        left: 50%;
        transform: translateX(-50%);
        left: 50%;
        border-radius: 1.5rem;

        &:active,
        &:focus {
            left: 50%;
            transform: translate(-50%, .05rem);
            box-shadow: 0 .5rem .2rem rgba($color-dark, .8); /* nice shadow is lowered to cause the impression of pressing */
        }

        &-text {
            outline: none;
            font-weight: 400;
            text-decoration: none;
            color: $color-gray;
        }

        &::after {
            background: $color-white;
        }
    }

    &::after  {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 1.5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &-animated {
        animation: fadeInBottom 4s ease-out;
    }
}